

html, body {
    
    
    background-image: url(imagenes/diversas-personas-aplaudiendo-diversos-hombres-mujeres-aplaudiendo-saludo-ovacion-apoyo_442961-205.jpg);
    background-repeat: no-repeat;
    background-position: center;
   
    
}


#container {
    text-align: center;
   
    
}

.titulo {
    text-align: center;
    height: 150%;
    padding: 10% 0 0 0;
    
    
}
.enviar{
    background-color: aquamarine;
    color: rgb(10, 10, 10);
    border:#000000;
    border-radius: 15px;
    cursor: pointer;
    padding: 14px 28px; 
    margin: 16px;
}
.enviar:hover {
    background-color: #45a049;
  }
.enviar:active {
    background-color: #3e8e41;
  }
button{
    cursor: pointer;
    border:#000000;
    background-color:transparent;
   
}
.tiempo{
    text-align:left;
}
    

